<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Styleguide</title>
    <!-- The idea is that a precompiled CSS (customized by the brand) is passed to the docgen renderer.
         (can be generated through http://getbootstrap.com/customize/)
         After that, the css is passed through Sass, together with the semantic to atomic sass converter code.
    -->
    <style>
      <% scss =  Net::HTTP.get(URI.parse('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')) %>
      <% alert_scss= File.read('app/views/styleguide/_alerts.scss') %>
      <% scss += alert_scss %>
      <%= Sass.compile(scss) %>
    </style>
  </head>

  <body>
    <h1>Alerts</h1>

    <% alert_html = File.read('app/views/styleguide/_alerts.html.erb')  %>

    <%= raw Net::HTTP.get(URI.parse("http://hilite.me/api?code=#{URI.escape(alert_scss)}&lexer=css&linenos=true&style=default")) %>
    <%= raw Net::HTTP.get(URI.parse("http://hilite.me/api?code=#{URI.escape(alert_html)}&lexer=html&linenos=true&style=default")) %>

    <%= raw alert_html %>
  </body>
</html>
